"  <ul class=\"menuList\">",
      "    {{#menu}}",
      "      <li class=\"menuCategory\" data-mgid=\"{{id}}\">",
      "        <div class=\"menu-hd\">",
      "          <p class=\"header itemListName\" data-listener=\"itemListName\">{{name}}</p>",
      "        </div>",
      "        <ul class=\"itemList menu main-menu\">",
      "          {{#children}}",
      "            <li class=\"mi\" data-listener=\"menuItem\" data-miid=\"{{id}}\">",
      "              <p class=\"name\" data-listener=\"menuItem\">{{name}}</p>",
      "              <p>",
      "                <span class=\"price\" data-listener=\"menuItem\">{{price}}</span>",
      "              </p>",
      "              <span class=\"menuItemDescription hidden\">{{descrip}}</span>",
      "              <ul class=\"optionCategoryList hidden\">",
      "                {{#children}}",
      "                  <li data-mogid=\"{{id}}\" data-momin=\"{{min_child_select}}\" data-momax=\"{{max_child_select}}\" class=\"optionCategory\">",
      "                    <span class=\"header\">{{name}}</span>",
      "                    <span class=\"error\"></span>",
      "                    <ul class=\"optionList\">",
      "                      {{#children}}",
      "                        <li class=\"option\" data-moid=\"{{id}}\">",
      "                          <input type=\"checkbox\" class=\"optionCheckbox\" data-listener=\"optionCheckbox\" name=\"options\" />",
      "                          <span class=\"optionName\">{{name}}</span>",
      "                          <span class=\"optionPrice\">{{price}}</span>",
      "                        </li>",
      "                      {{/children}}",
      "                    </ul>",
      "                    <div class=\"clear\"></div>",
      "                  </li>",
      "                {{/children}}",
      "              </ul>",
      "            </li>",
      "          {{/children}}",
      "        </ul>",
      "      </li>",
      "    {{/menu}}",
      "  </ul>",
      "  <div class=\"trayContainer\">",
      "    <ul class=\"tray\">",
      "    </ul>",
      "  </div>",
      "  <!-- Menu Item Dialog -->",
      "  <div class=\"optionsDialog popup-container hidden\">",
      "    <div class=\"popup-box-container dialog\">",
      "      <form name=\"ordrin-dialog\" onSubmit=\"return false;\">",
      "        <div class=\"close-popup-box\">",
      "          <img class=\"closeDialog\" data-listener=\"closeDialog\" src=\"https://fb.ordr.in/images/popup-close.png\" />",
      "        </div>",
      "        <div class=\"mItem-add-to-tray popup-content\">",
      "          <div class=\"menu-hd\">",
      "            <div class=\"boxright\">",
      "              <h1 class=\"big-col itemTitle\"></h1>",
      "              <p class=\"slim-col itemPrice\"></p>",
      "            </div>",
      "            <div class=\"clear\"></div>",
      "          </div>",
      "          <p class=\"desc dialogDescription\"></p>",
      "        </div>",
      "        <div class=\"optionContainer\"></div>",
      "        <label for=\"itemQuantity\">Quantity: </label>",
      "        <input type=\"number\" class=\"itemQuantity\" name=\"itemQuantity\" value=\"1\" />",
      "        <br />",
      "        <input type=\"submit\" class=\"buttonRed\" data-listener=\"addToTray\" value=\"Add to Tray\" />",
      "      </form>",
      "    </div>",
      "  </div>",
       "  <div class=\"dialogBg fade-to-gray hidden\"></div>"